* {
    padding: 0;
    margin: 0;
}

/* Custom font variables */
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro' monospace;
}

/* Custom color variables */
:root {
    --yellow: #F6C562;
    --brown: #905D49;
    --orange: #F47F49;
    --light-green: #779E68;
    --mid-green: #657E55;
    --dark-green: #4C5E37;
}

/* Header container styling */
.header-section-container {
    background-color: var(--yellow);
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    height: 230px;
    width: 100%;
} 

.header-text {
    font-family: var(--ff-primary);
    padding: 50px 0px 30px 50px;
    background-color: var(--yellow);
    color: black;
    width: 100%;
}

header h1 {
    display: block;
    font-size: 50px;
    margin-bottom: 30px;
} 

header p {
    font-size: 20px;
} 

/* Navigation bar button styling */
.navbuttons {
    width: 100%;
    background-color: var(--yellow);
    text-align: end;
    padding-right: 50px;
}

/* Navigation button styling */
.button {
    border: 1px black outset;;
    background-color: var(--orange);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
    font-family: var(--ff-secondary);
  }

/* Nav button hover change color */
.button:hover {
    background-color: var(--yellow);
    color: black;
}

/* About section container */
.about-section-container {
    padding: 50px;
    height: 300px;
    font-family: var(--ff-primary);
    background-color: var(--brown);
    color: black;
    width: 100%;
}

/* Container with portrait and description */
.about-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.about-details img {
    max-height: 300px;
}

/* About me description */
.about-text {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.about-text h2 {
    font-size: 40px;
}

.about-text p {
    width: 100%;
    font-size: 20px;
}

/* Portrait styling */
.about img {
  position: absolute;
  height: 300px;
  width: 300px;
  margin-top: 100px;
  margin-left: 800px;
}

/* Bad psychology joke hover */
span[data-descr] {
    position: relative;
    text-decoration: underline;
    cursor: grab;
}  

span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 0px;
    bottom: 24px;
    min-width: 70px;
    border: 1px black solid;
    background-color: var(--yellow);
    padding: 12px;
    color: black;
    font-size: 80%;
    z-index: 1;
 } 
 
/* Projects section container */
.project {
    width: 100%;
    padding: 50px;
    height: 30%;
    font-family: var(--ff-primary);
    background-color: var(--light-green);
    color: #ffffff;
    }    

/* Projects section header  */
.project h2 {
    font-size: 50px;
    display: block;
    width: 100%
}    

/* Larger first project styling */
.first-project-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 300px;
    border: 1px solid black;
    padding: 50px;
    justify-content: flex-start;
    margin-bottom: 20px;
    background-color: var(--mid-green);
}

/* Container for first project image and text */
.first-card-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first-project-container img {
    max-height: 500px;
    flex: 0 1 auto;
}

.first-project-container h3 {
    text-align: center;
    background-color: var(--orange);
    font-size: 30px;
    font-family: var(--ff-primary);
    max-height: 40px; 
    margin-bottom: 30px;
}

.first-project-container p {
    text-align: center;
    font-size: 22px;
    color: white;
}

/* Container for individual project section */
.project-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 250px;
    border: 1px solid black;
    padding: 50px;
    justify-content: flex-start;
    margin-bottom: 20px;
    background-color: var(--mid-green);
}

.project-card-container h3 {
    text-align: center;
    color: #ffffff;
    background-color: var(--orange);
    font-size: 30px;
    font-family: var(--ff-primary);
    max-height: 40px; 
    margin-bottom: 80px;
}

.project-card-container p {
    text-align: center;
    font-size: 22px;
}

/* Project card image styling */
.project-card-container img {
    max-height: 350px;
    position: relative;
    padding-right: 200px;
}

/* Padding to center smaller image */
#project4 img {
    padding-left: 60px;
}

/* Container for project card header and paragraph */
.project-text {
    max-width: 600px;
    color: white;
}

#project4 .project-text {
    max-width: 700px;
}

/* Container for project card image and all text */
.card-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Contact section container */
.contact {
    font-family: var(--ff-primary);
    padding: 50px;
    background-color: var(--yellow);
    color: black;
    width: 100%;
    text-align: center;
}

/* Contact buttons */

.contact li {
    list-style-type: none;    
}

.contact-button {
    border: 1px black outset;
    background-color: var(--orange);
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 1px 1px;
    cursor: pointer;
    font-style: italic;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
  }
/* 
Resizing for smaller screen size visiblity */

/* If screen size is smaller than 892 pixels, the following style will apply */
@media (max-width: 892px) {

    .about-text {
        display: inline;
        max-width: 800px;
    }

    .about-text p {
        font-size: 16px;
        padding: 10px;
    }

    .about-text h2 {
        font-size: 34px;
        text-align: center;
        padding: 10px;
    }
    .about-details {
        justify-content: center;
    }
    .about-section-container {
        padding: 20px;
        height: 500px; 
    }

    .project-text {
        display: inline;
        max-width: 500px;
    }
    .project-text p {
        font-size: 20px;
    }
 

    .project-card-container img {
        padding: 0px;
    }

    .project-card-container h3 {
        margin-bottom: 20px;    
    }    

    #project4 .project-text {
        max-width: 650px;

    }
    }
